
header{
    text-align: center;
    height: 100px;
    width: 100%;
    background-color:rgb(241, 236, 231);
}
h2{
    text-align: center;
    height: 100px;
    width: 100%;
}
body img{
    height: 390px;
    width: 60%;
}
nav{

    position: fixed;
    left: 0;
    height:900px ;
    width: 20%;
    float: left;
    background-color: rgb(241, 147, 24);
    
}
nav a:hover {
    font-weight: bold;
    color: rgb(244, 137, 137);
}
section{
    position: fixed;
    margin-left: 20%;
    height: 900px;
    width: 80%;
    float: left;
    background-color:rgb(10, 165, 92);
}
iframe{
    height: 100%;
    width: 100%;
}
#ti{
    background-color: rgb(36, 136, 36);
    text-align: center;
}
#bb{
    background-color: rgb(223, 139, 29);
}
article{
    height:45% ;
    width: 100%;
}
article{
    height:55% ;
    width: 100%;
}
#p1{
    width: 33%;
    height:20% ;
}
#p2{
    width: 33%;
    height:10% ;
}

#p3{
    width: 33%;
    height:20% ;
}

#p{
    width: 33%;
    height:20% ;
}
#img{
    height: 580px;
}



